.label {
  font-family: "Magnita", serif;
  margin-top: 25px;
  padding: 0 20px;
}

.label h1 {
  font-size: 52px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
}

.label div {
  font-family: "Signeton";
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.label div span {
  color: var(--text-color-hover);
}

@media (min-width: 990px) {
  .label {
    padding: 0 80px;
  }
  .label h1 {
    font-size: 5vw;
  }
  .label div {
    text-align: left;
    font-size: 18px;
    margin-left: 80px;
  }
}

@media (min-width: 1200px) {
  .label {
    padding: 0 115px;
  }
}
