:root {
  --text-color: black;
  --text-color-hover: #f43333;
  --bg-color: white;
  --border-color: rgb(229, 231, 235);
}

@font-face {
  font-family: "Magnita";
  src: url("./fonts/Magnita.woff") format("woff"), url("./fonts/Magnita.woff2") format("woff2"), url("./fonts/Magnita.svg#Magnita") format("svg"), url("./fonts/Magnita.eot"), url("./fonts/Magnita.eot?#iefix") format("embedded-opentype"), url("./fonts/Magnita.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signeton";
  src: url("./fonts/Signeton.eot");
  src: url("./fonts/Signeton.eot?#iefix") format("embedded-opentype"), url("./fonts/Signeton.woff2") format("woff2"), url("./fonts/Signeton.woff") format("woff"), url("./fonts/Signeton.ttf") format("truetype"), url("./fonts/Signeton.svg#Signeton") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.eot");
  src: url("./fonts/Inter.eot?#iefix") format("embedded-opentype"), url("./fonts/Inter.woff2") format("woff2"), url("./fonts/Inter.woff") format("woff"), url("./fonts/Inter.ttf") format("truetype"), url("./fonts/Inter.svg#Signeton") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*::selection {
  background: var(--text-color-hover);
  color: var(--bg-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: "Magnita", serif; */
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Signeton"; */
}

svg {
  pointer-events: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

#maintenance {
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: "Magnita", serif;
  font-size: 30px;
  text-align: center;
}

@media (min-width: 990px) {
  #maintenance {
    height: calc(100vh - 130px);
  }
}
